{# Purpose of this template: Display one certain collection within an external context #}
<div id="collection{{ collection.getKey() }}" class="musoundmodule-external-collection">
{% if displayMode == 'link' %}
    <p class="musoundmodule-external-link">
    <a href="{{ path('musoundmodule_collection_display', {'id': collection.getId()}) }}" title="{{ collection|musoundmodule_formattedTitle|e('html_attr') }}">
    {{ collection|musoundmodule_formattedTitle|notifyFilters('sound.filter_hooks.collections.filter')|safeHtml }}
    </a>
    </p>
{% endif %}
{% if hasPermission('MUSoundModule::', '::', 'ACCESS_EDIT') %}
    {# for normal users without edit permission show only the actual file per default #}
    {% if displayMode == 'embed' %}
        <p class="musoundmodule-external-title">
            <strong>{{ collection|musoundmodule_formattedTitle|notifyFilters('sound.filter_hooks.collections.filter')|safeHtml }}</strong>
        </p>
    {% endif %}
{% endif %}

{% if displayMode == 'link' %}
{% elseif displayMode == 'embed' %}
    <div class="musoundmodule-external-snippet">
        &nbsp;
    </div>

    {# you can distinguish the context like this: #}
    {# % if source == 'contentType' %}
        ...
    {% elseif source == 'scribite' %}
        ...
    {% endif % #}

    {# you can enable more details about the item: #}
    {#
        <p class="musoundmodule-external-description">
            {% if collection.description is not empty %}{{ collection.description }}<br />{% endif %}
        </p>
    #}
{% endif %}
</div>
