{# purpose of this template: albums xml inclusion template #}
<album id="{{ album.getId() }}" createdon="{{ album.createdDate|localizeddate('medium', 'short') }}" updatedon="{{ album.updatedDate|localizeddate('medium', 'short') }}">
    <id>{{ album.id }}</id>
    <title><![CDATA[{{ album.title }}]]></title>
    <description><![CDATA[{{ album.description|safeHtml }}]]></description>
    <author><![CDATA[{{ album.author }}]]></author>
    <uploadCover{% if album.uploadCover is not empty and album.uploadCoverMeta|default %} extension="{{ album.uploadCoverMeta.extension }}" size="{{ album.uploadCoverMeta.size }}" isImage="{% if album.uploadCoverMeta.isImage %}true{% else %}false{% endif %}"{% if album.uploadCoverMeta.isImage %} width="{{ album.uploadCoverMeta.width }}" height="{{ album.uploadCoverMeta.height }}" format="{{ album.uploadCoverMeta.format }}"{% endif %}{% endif %}>{{ album.uploadCover }}</uploadCover>
    <publishedDate>{{ album.publishedDate|localizeddate('medium', 'short') }}</publishedDate>
    <publishedText><![CDATA[{{ album.publishedText }}]]></publishedText>
    <workflowState>{{ album.workflowState|musoundmodule_objectState(false)|lower }}</workflowState>
    <collection>{% if album.collection|default %}{{ album.collection|musoundmodule_formattedTitle }}{% endif %}</collection>
    <track>
    {% if album.track|default %}
        {% for relatedItem in album.track %}
        <track>{{ relatedItem|musoundmodule_formattedTitle }}</track>
        {% endfor %}
    {% endif %}
    </track>
</album>
